/*
 * Generic Modbus node definition for the application
 */

/ {
	modbusClient: modbusClient {
		status = "okay";
		compatible = "zephyr,modbus-serial";
		/* The uart property will be provided by board-specific overlays */
	};
};
